body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.hidden {
	display: none;
}
main {
	flex: 1 0 auto;
}

.search-area {
	margin: 20px auto;
}

nav .input-field label {
	top: -11px;
}

.logo img {
	border: 2px dashed white;
}

.header-billboard {
	padding: 20px;
}

.header-billboard img {
	width: 400px;
}

nav {
	margin-bottom: 15px;
}

.input-box {
	background-color: white !important;
	padding-left: 5px !important;
	margin: 0 !important;
	color: black;
}

.header-wrapper {
	padding-top: 10px;
	margin-bottom: 0 !important;
}

.search, .location {
	margin-top: 25px;
}

.search-button {
	margin-top: 20px;
}


.modal.bottom-sheet {
	max-height: 65%;
}

.main img {
	width: 360px;
}

/* Google Map */

.map-container {
	height: 400px;
}

#map {
	height: 100%;
}