/* font-family: 'Raleway', sans-serif;
font-family: 'Montserrat', sans-serif; */

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	font-family: 'Raleway', sans-serif;
}

.hidden {
	display: none;
}
main {
	flex: 1 0 auto;
}

.search-area {
	margin: 20px auto;
}

nav .input-field label {
	top: -11px;
}

.logo img {
	margin-top: 25px;
}

.header-billboard {
	padding: 20px;
}

.header-billboard img {
	width: 400px;
}

nav {
	margin-bottom: 15px;
}

.right {
	cursor: pointer;
}

.input-box {
	/*background-color: white !important;*/
	padding-left: 5px !important;
	margin: 0 !important;
	color: black;
}

.header-wrapper {
	padding-top: 10px;
	margin-bottom: 0 !important;
}

.search, .location {
	margin-top: 25px;
}

.search-button {
	margin-top: 20px;
}


.modal.bottom-sheet {
	max-height: 65%;
}

.main img {
	width: 360px;
}

.carousel .carousel-item img {
	width: 280px;
	height: 280px;
	border-radius: 50px;
}

.card.large {
	height: 450px;
}

.btn-floating.halfway-fab {
	position: absolute;
	right: 24px;
	top: 180px;
	z-index: 2;
}

.card.sticky-action .card-reveal {
	z-index: 3;
}

.card.sticky-action .card-action {
	z-index: 4;
}

div.card-image > span.coupon-price {
	font-size: 2em;
	background-color: #9575cd;
	padding: 6px 25px !important;
	font-weight: 500;
}

.card > div.card-image.waves-effect.waves-block.waves-light > img {
	transition: all 0.2s ease-in-out;
}

.card > div.card-image.waves-effect.waves-block.waves-light > img:hover {
	transform: scale(1.06);
}

.card-action > .btn:hover {
	background-color: #7e57c2 !important;
}

.img-fit {
	height: 200px;
	-o-object-fit: cover;
	object-fit: cover;
}

.nav-category {
	color: white;
}

/* modal */
.modal-content-title {
	margin-left: 0.5vw;
	padding-top: 1vw;
	margin-bottom: 2vw;
}

.modal-content-description {
	font-size: 1vw;
}

/* Google Map */

.map-container {
	height: 334px;
}

#map {
	height: 100%;
}

/* Parallax */

.parallax-container {
/*  background-color: rgba(64,46,116, 0.7);
*/  height: 550px;


}

#content {
	font-family: 'Raleway', sans-serif;
	display: inline-block;
	font-size: 4.5vw;
}

#change {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 5vw;
	display: inline-block;
/*	color: #000352;*/
	color:#4527a0;
}



#header-content {
	margin: 8% auto;
	height: 100%;
}

#search-input, #location-input {
	border-bottom: 2px solid white;
	font-size: 20px;
	color: white;
}

#myProgress {
	margin: 0 auto;
  width: 20%;
  transition: width 2s;
 
}

#myBar {
  width: 0%;
  height: 5px;
  background-color: #9c27b0;
  opacity: 0.7;
}

input::-webkit-input-placeholder {
color: white !important;
}

input:-ms-input-placeholder {  
color: white !important;  
}


/* Media Queries */
/*
640
768
980
*/

@media screen and (max-width: 980px) {
	#search-input, #location-input {
		font-size: 15px;
	}

	.parallax-container {
		height: 500px;
	}

	#sub {
		font-size: 1.4rem;
	}
}

@media screen and (max-width: 768px) {

	.card.large {
		height: 400px;
	}

	.parallax-container {
		height: 450px;
	}

	#search-input, #location-input {
		font-size: 12px;
	}

	#sub {
		font-size: 1.25rem
	}

}

@media screen and (max-width: 640px) {

	
	#content {
		width: 100%;
		font-size: 2.5rem;
	}

	#change {
		font-weight: 500;
		font-size: 2.8rem;
	}

	#header-content {
		margin-top: 1%;
	}

	.main-content-header {
		font-size: 2rem;
	}

	.modal-content-title {
		font-size: 2rem;
	}

}

@media screen and (max-width: 600px) {

	.parallax-container {
		height: 600px
	}

	#content-wrap {
		margin-top: 0;
		margin-bottom: 0;
	}

	#content {
		font-size: 1.7rem;
	}

	#change {
		font-size: 2rem;
	}

	#sub {
		font-size: 1.3rem;
	}

	/*#we-scoop {
		display: none;
	}*/

}
